@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i|Quicksand:400,700');

/* font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif; */

body {
	background-color: #f2f2f2;
	max-width: 1600px;
}

h1 {
	font: italic 52px 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
	text-shadow: 1px 1px 2px #6caea9;
}

h2 {
	font: 24px 'Lato', sans-serif;
	color: #fe992a;
}

p {
	font: 14px/28px 'Lato', sans-serif;
	color: #fff;
}

				/* Slide */

#slide {
	background: url("../img/Slide_ Image.png") no-repeat;
	padding: 20px;
}

	#slide a {
		font: bold 15px 'Lato', sans-serif;
		color: #fff;
	}

	#slide li {
		margin-right: 50px;
	}

	#slide p {
		text-shadow: 1px 1px 2px #6caea9;
	}

	#slide .dropdown-menu {
		background-color: #f2f2f2;
	}

		#slide .dropdown-item {
			color: #73a6af;
		}

	#slide nav {
		margin-bottom: 170px;
	}	

	#slide .Mine_Slide {
		max-width: 400px;
	}	

		#slide .Mine_Slide h1 {
			margin-bottom: 40px;
		}

		#slide .Mine_Slide p {
			margin-bottom: 400px;
		}

			/* #Home */

#Home {
	background-color: #fff;
	padding-bottom: 100px;
}

	#Home .col-lg-4 {
		border-right: 1px solid #eaeaea;
		height: 300px;
	}

	#Home .col-lg-8 {
		padding-left: 40px;
		padding-top: 30px;
	}

	#Home .quotesUp {
		margin-bottom: 20px;
	}

	#Home .quotesDown {
		margin-left: 70px;
		margin-top: 20px;
	}

	#Home span {
		font: italic 20px/28px 'Lato', sans-serif;
		color: #fe992a;
	}

	#Home p {
		color: #737c85;
	}

	#Home h2 {
		margin-bottom: 20px;
	}

#Home .carousel-control-prev {
	top: 250px;
	left: 240px;
}

#Home .carousel-control-next {
	top: 250px;
	left: 270px;
}

				/* Footer */

footer {
	padding-top: 50px;
	padding-bottom: 220px;
	background-color: #e77370;
}		

	footer a, footer li, footer span {
		list-style-type: none;
		margin-bottom: 15px;
		font: 15px 'Quicksand', sans-serif;
		color: #fff;
	}

	footer a:hover {
		text-decoration: none;
		color: #889097;
		font-weight: bold;
	}

	footer span {
		display: inline-block;
		font-weight: bold;
	}

	footer ul {
		padding-left: 0;
		margin-bottom: 50px;
	}		

	footer li.space {
		margin-bottom: 52px;
	}